<p style="color: green"><%= notice %></p>

<%= render @payment_type %>

<div>
  <%= link_to "Edit this payment type", edit_payment_type_path(@payment_type) %> |
  <%= link_to "Back to payment types", payment_types_path %>

  <%= button_to "Destroy this payment type", @payment_type, method: :delete %>
</div>
