<div id="<%= dom_id item %>">
  <p>
    <strong>Payment type:</strong>
    <%= item.payment_type_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= item.event_date %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= item.payment_date %>
  </p>

</div>
