<div id="<%= dom_id item %>">
  <div class="item-content">
    <div class="item-content-name">
      <%= item.name %>
    </div>
    <div class="item-content-edit-img">
      <i class="fa fa-edit"></i>
    </div>
    <div class="item-content-paymentType">
      <%= item.payment_type.name %>
    </div>
    <div class="item-content-amount-<%= item.transaction_type.name %>">
      <%= sprintf('%.2f', item.amount) %> €
    </div>
    <div class="item-content-category">
      <%= item.categories.map(&:name).join(", ") %>
    </div>
    <div class="item-content-eventDate-text">
      Datum događaja:
    </div>
    <div class="item-content-eventDate">
      <%= item.event_date.strftime('%d.%m.%Y. %I:%M:%S %p') %>
    </div>
    <div class="item-content-paymentDate-text">
      Datum plaćanja:
    </div>
    <div class="item-content-paymentDate">
      <%= item.payment_date.strftime('%d.%m.%Y. %I:%M:%S %p') %>
    </div>
  </div>
</div>
