<div id="<%= dom_id item %>">
  <div class="item-content">
    <div class="item-content-category">
      <%#= item.category.name %>
      Sjednica općinskog vijeća Općine Kostrena
    </div>
    <div class="item-content-edit-img">
      <%= link_to edit_item_path(item), class: "edit-item-icon" do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </div>
    <div class="item-content-paymentType">
      <%#= item.payment_type.name %>
      Prijenos na Revolut
    </div>
    <div class="item-content-amount-<%= item.transaction_type.name %>">
      <%= sprintf('%.2f', item.amount) %> €
    </div>
    <div class="item-content-note">
      <%#= item.note %>
      Predstavljanje kandidacijskih lista i sučeljavanje za izbor općinskog vijeća
    </div>
    <div class="item-content-eventDate-text">
      Datum događaja:
    </div>
    <div class="item-content-eventDate">
      <%= item.event_date.strftime('%d.%m.%Y. %I:%M:%S %p') %>
    </div>
    <div class="item-content-paymentDate-text">
      Datum plaćanja:
    </div>
    <div class="item-content-paymentDate">
      <%= item.payment_date.strftime('%d.%m.%Y. %I:%M:%S %p') %>
    </div>
  </div>
</div>
