<div id="<%= dom_id item %>">
  <p>
    <strong>Način plaćanja:</strong>
    <%= item.payment_type.name %>
  </p>

  <p>
    <strong><%= item.categories.length > 1 ? "Kategorije:" : "Kategorija:" %></strong>
    <%= item.categories.map(&:name).join(", ") %>
  </p>

  <p>
    <strong>Stavka:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Iznos:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>Datum događaja:</strong>
    <%= item.event_date %>
  </p>

  <p>
    <strong>Datum plaćanja:</strong>
    <%= item.payment_date %>
  </p>

</div>
